<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @nimble.content %>
</p>

<p>
  <b>User:</b>
  <%= @nimble.user_id %>
</p>


<%= link_to 'Edit', edit_nimble_path(@nimble) %> |
<%= link_to 'Back', nimbles_path %>
